__pycache__/
.ipynb_checkpoints/
*.pyc

*.pt
*.pth
*.ckpt
*.bin
*.onnx

*.wav
*.flac
*.mp3
*.mp4
*.npy
*.npz
*.pkl

*.zip
*.tar
*.tar.gz
*.rar

AT_ADD_data/
data/
dataset/
datasets/
checkpoints/
ckpt/
outputs/
output/
logs/
wandb/
runs/
result/
results/
